<div class="background" (click)="onClicked()"></div>

  <div class="container">
<div class="wrapper">

  <div class="title-wrapper">
  <div class="title">{{book.title}}</div>
  <div class="author">{{book.author ? 'By '+book.author + ' ' +book.date : 'Unknown Author '+book.date}}</div>
  </div>

  <div class="description-wrapper">
  <div class="image" 
  [style.background-image]="book.thumbnail ? 'url(' + book.thumbnail + ')' : none"></div>
  <div class="fade">
  <p #description class="description">{{book.description}}</p></div>
  </div>

  <div class="button-wrapper">
  <button class="wishlist" [ngClass]="{'listed':book.isFavorite}" (click)="onWishlistClicked()">{{caption}}</button>
  <button class="close" (click)="onClicked()">Close</button>
  </div>
</div>
</div>