.wrapper{
    width: 485px;
    height:224px;
    border-radius: 4.4px;
    box-shadow: 0 3px 8px 0 rgba(172, 181, 185, 0.4);
    background-color: #ffffff;
    border: solid 0.8px rgba(207, 216, 220, 0.2);
    margin-bottom:24px;
}

.image{
    float:left;
    width: 112px;
    height: 160px;
    background:red;
    margin-top: 32px;
    margin-left:24px;
}

.title{
    float:left;
    margin-top:43px;
    margin-left: 40px;
    max-height: 40px;
    height: 40px;
    max-width:285px;  
    width: 285px;
    font-size: 16px;  
    color: #2a2c2e;
}

.author{
    float:left;
    margin-left: 40px;
    margin-top: 10px;    
    font-size: 16px;
    max-width:285px;  
    width: 285px;
    height: 20px;  
    max-height: 20px;  
    color: #78909c;
}

.remove{
    float:left;
    max-width:285px;  
    width: 285px;
    height: 20px;  
    max-height: 20px;  
    margin-left: 40px;
    margin-top: 55px;
    color: #448aff;
    font-size: 13px;
    cursor: pointer;
}