.wrapper{
    width: 231px;
    height:342px;
    border-radius: 4.5px;
    box-shadow: 0 3px 7px 0 rgba(172, 181, 185, 0.4);  
    border: solid 0.5px rgba(207, 216, 220, 0.2);
    margin-right:20px;
    margin-bottom:20px;
    position:relative;
}

.mask{
    width: 100%;
    height: 216px;
    background-color: #f0f0f0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index:0;
}

.book-cover{
    width: 117px;
    height: 178px;
    background-color: gray;
}

.title{
    margin-top:16px;
    margin-left: 10px;
    font-size: 16px;
    max-height:40px;
    text-overflow: ellipsis;
    color: #2a2c2e;
    overflow: hidden;
}
.author{
    margin-top:4px;
    margin-left: 10px;
    font-size: 16px;
    max-height:40px;
    text-overflow: ellipsis;
    color: #78909c;
}
.info{  
    font-size: 13px;
    color: #448aff;
    position: absolute;
    bottom: 0;
    margin-left: 10px;
    margin-bottom: 8px;
    cursor: pointer;
}
.favorite{
    position: absolute;
    width: 18px;
    height: 14px;
    right: 0;
    bottom: 0;
    margin-right: 16px;
    margin-bottom: 12px;
    background-size: contain;
    background-repeat:no-repeat;
    background-image: url("../../../../assets/heart-header.svg");
    cursor: pointer;

    &.listed{
        animation: rubberBand 1s;
        background-image: url("../../../../assets/heart-blue.svg");
    }
}

